
body{
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.header{
    width: 100%;
    height: 70PX;
    background-color: rgba(128, 158, 98,0.7);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

img{
    width: 150px;
    height: 60px;
    float: left;
    margin: 5px 0 5px 75px;
}
.list{
    list-style: none;
    margin-right: 75px;
    float: right;
    margin-top: 25px;
}
.clr{
    clear: right;
}
.list li{
    display: inline-block;
    margin-left: 25px;
    position: relative;

}

.list li a{
    text-decoration: none;
    color: rgb(108, 50, 45);
    font-size: 18px;
    font-weight: bold;
}

.list li::before{
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(76, 102, 50);
        opacity: 0;
        transition: all 0.75s;
        margin-bottom: -6px;
}

.list li:hover::before{
        height: 1.5px;
        width: 100%;
        opacity: 1;
}


.about{
   
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    
}
.about h1{
    font-size: 65px;
    color: rgb(108, 50, 45);
    margin-top: 100px;

}
.about p{
    font-size: 20px;
    color: rgb(108, 50, 45);
    margin-top: -40px;
}
.about .but1 ,.about .but2{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    
}

.about .but1{
    background-color: rgb(108, 50, 45);
    margin: 0 15px;
    color: white;
    font-family: "Outfit", sans-serif;

} 
.about .but1:hover{
    background-color: rgb(163, 66, 57);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.about .but2{
    background-color: rgb(159, 133, 109);
    color: white;
    cursor: pointer;
    font-family: "Outfit", sans-serif;


}
.about .but2:hover{
    background-color: rgb(114, 88, 64);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}


.content{
    position: relative;
    margin-top: 70px;
    background-image: url(../img/backGround.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height:65vh;
    text-align:center;
    padding-top:200px; 
}
.overlay{
    position: absolute;
    width: 70%;
    height: 100%;
    /* background-color: rgba(236, 193, 147,0.3); */
    background-color: rgba(158, 91, 20, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

.developer{
    position: absolute;
    bottom: 0;
    left: 35%;
    background-color: rgb(179, 126, 74);
    font-size: 16px;
    z-index: 5;
    color: white;
    padding: 5px;
}